{% extends 'base.html.twig' %}

{% block title %}Novo Usuário{% endblock %}

{% block body %}
    
    {{ include('home/_form.html.twig') }}
    
    <a href="{{ path('user_index') }}">back to list</a>
{% endblock %}
