{% extends '@Admin/baseAdmin.html.twig' %}

{% block title %}Editar Categoria{% endblock %}

{% block bodyAdmin %}
    <h1>Editar Categoria</h1>

    {{ include('@Admin/categoria/_form.html.twig', {'button_label': 'Atualizar'}) }}
    
{% endblock %}
