{% extends '@Admin/baseAdmin.html.twig' %}

{% block title %}New Categoria{% endblock %}

{% block bodyAdmin %}
    <h2>Nova Categoria</h2>

    {{ include('@Admin/categoria/_form.html.twig') }}
    
{% endblock %}
